@{
    ViewData["Title"] = "Matrial In Report";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
    var dt = ViewBag.dt as System.Data.DataTable;
    int count = 1;
}
<style>

    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        padding: 10px;
        width: 100%;
    }

    #searchInput {
        width: 60%;
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 25px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        outline: none;
        transition: all 0.3s ease-in-out;
    }

        #searchInput:focus {
            border-color: #4CAF50;
            box-shadow: 0 0 8px rgba(76, 175, 80, 0.5);
        }

    table {
        font-size: 20px !important;
        overflow: scroll !important;
    }

    .custom-table th {
        border: 1.4px solid black;
        color: black;
        width: 198px;
    }

    .custom-table td {
        border: 1.4px solid black;
    }
</style>


<div class="row">
    <div style="margin-left: 17px;margin-top: 16px;">
        <div class="card-body">
            <button onclick="generateExcel()" class="btn btn-primary">Download Excel</button>
        </div>
    </div>
</div>







<div class="container-fluid" id="bdy">

    <div class="card shadow mt-3">
        <div class="row py-3 px-3">
            <div class="d-flex d-none justify-content-center align-items-center" id="loader" style="height:50vh; position:absolute;">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>


            <div class="col-md-3 mt-1">
                <label>Invoice No</label>
                <select class="form-control " id="Invoice" name="">
                    <option value="All">All </option>
                    @if (ViewBag.Invoice != null)
                    {
                        foreach (var item in ViewBag.Invoice as List<SelectListItem>)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-3 mt-1">
                <label>Vendor</label>
                <select class="form-control " id="Vendor" name="">
                    <option value="All">All </option>
                    @if (ViewBag.Vendor != null)
                    {
                        foreach (var item in ViewBag.Vendor as List<SelectListItem>)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-3 mt-1">
                <label>Material Name</label>
                <select class="form-control " id="materialName" name="">
                    <option value="All">All </option>
                    @if (ViewBag.Material != null)
                    {
                        foreach (var item in ViewBag.Material as List<SelectListItem>)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    }
                </select>
            </div>
         


            <div class="col-md-3 mt-1">

                <label>From Date</label>
                <input type="date" id="fromdate" style="
    height: 30px;
    padding: 10px;
" class="form-control" />

            </div>
            <div class="col-md-3 mt-1">
                <label>To Date</label>
                <input type="date" id="Todate" style="
    height: 30px;
    padding: 10px;
" class="form-control" />

            </div>
            <div class="col-md-2">
                <button onclick="ShowData()" style="padding: 7px;
                        margin-top: 17px;" class="btn btn-primary">
                    Search
                </button>

            </div>

            <div class="card-body">
                <div class="table-container">

                    <div class="table-responsive">
                        <table id="itemsTable" class="display table table-bordered">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script src="~/js/InvoiceDashboard.js"></script>
<script>
        function generateExcel() {
            // Get the table element by ID
            var table = document.getElementById("itemsTable");

            // Use SheetJS to convert the table into an Excel worksheet
            var ws = XLSX.utils.table_to_sheet(table);

            // Create a new workbook
            var wb = XLSX.utils.book_new();

            // Append the worksheet to the workbook
            XLSX.utils.book_append_sheet(wb, ws, "MaterialIn Dashboard");

            // Generate and trigger the download of the Excel file
        XLSX.writeFile(wb, "MaterialIn Dashboard.xlsx");
        }

        $("#materialName").select2();
    $("#Invoice").select2();
    $("#Vendor").select2();





        $('#searchInput').on('keyup', function () {
        let filter = $(this).val().toUpperCase();


            $('#tableid tbody tr').each(function (index) {
            if (index === -1) return;

            let row = $(this);
            let match = false;

            // Check each cell in the row
            row.find('td').each(function () {
                if ($(this).text().toUpperCase().indexOf(filter) > -1) {
                    match = true;
                    return false;
                }
                else {
                    row.add('not Found')
                }
            });


            row.toggle(match);
        });
    });



    function ShowData() {
        $("#loader").removeClass("d-none")

        $.ajax({
            url: myurl + '/Report/GetMaterialInReprot',
            type: "post",
            data: { materialName: $("#materialName").val(), InvoiceNo: $("#Invoice").val(), Vendor: $("#Vendor").val(), formdate: $("#fromdate").val(), todate: $("#Todate").val() },
            success: function (data) {

                $("#loader").addClass("d-none")
                var data = JSON.parse(data);
                if (data.length != 0) {



                    CreateTableFromArray(data, "itemsTable")


                }
                else {
                    $("#itemsTable tbody").html(`<tr><td colspan="3" class="text-center text-danger"><h4>Record Not Found<h4></td></tr>`);
                }

            },
            error: (err) => {
                $("#loader").addClass("d-none")
                alert(err)
            }
        })
    }
</script>